@{ 
    Layout = "_ErrorLayout";
}

<div class="alert alert-danger">
    whopsy daisy....
</div>

<div class="alert alert-light">
    Please contact you neighborhood admin with this id: @ViewBag.Id
</div>
