@model IEnumerable<EComm.Web.Models.Product>
<div>
    Product Count: @Model.Count()

    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @Html.ActionLink("Create","Create","Demo")

        @foreach (var product in Model)
        {
            <tr><td>@product.Id</td><td>@product.ProductName</td></tr>
        }
    </table>

</div>