
@*<vc:product-list></vc:product-list>

@await Component.InvokeAsync("ProductList")*@

<form method="post" action="/products/addproduct">
    Name: <input type="text" name="ProductName" /><br />
    Price: <input type="text" name="UnitPrice" /><br />
    <input type="submit" value="Add Product" />
</form>